@if (member) {
    <div class="row">
        <div class="col-4">
            <h1>Edit your profile</h1>
        </div>
        <div class="col-8">
            <div class="alert alert-info">
                <p><strong>Important!</strong>
                    You can edit your profile here.</p>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{member.photoUrl}}" alt="{{member.knownAs}}" class="card-img img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p>{{member.lastActive}}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{member.created}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <tabset class="member-tabset">
                <tab heading="About {{member.knownAs}}">
                    <form>
                        <h4 class="mt-2">Description</h4>
                        <textarea name="introduction" id="introduction" class="form-control" [(ngModel)]="member.introduction" rows="3"></textarea>
                        <h4 class="mt-2">Looking For</h4>
                        <textarea name="lookingfor" id="lookingfor" class="form-control" [(ngModel)]="member.lookingFor" rows="3"></textarea>
                        <h4 class="mt-2">Interests</h4>
                        <textarea name="interests" id="interests" class="form-control" [(ngModel)]="member.interests" rows="3"></textarea>
                        <div class="d-flex align-items-center">
                            <label>City: </label>
                            <input type="text" class="form-control mx-2" [(ngModel)]="member.city">
                            <label>Country: </label>
                            <input type="text" class="form-control mx-2" [(ngModel)]="member.country">
                        </div>
                    </form>
                </tab>
                <tab heading="Photos">
                    <h4>Edit Photos</h4>
                    <p>{{member.interests}}</p>
                </tab>
            </tabset>
        </div>
    </div>
}